.created {
  background-color: #fff;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  box-shadow: 1px 4px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 3rem;
}

.created > * {
  padding: 0 6px;
}

.created h2 {
  margin: 0;
}

.red-bg {
  background-color: #f24236 !important;
}
